.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    rgba(255,255,255,1),
    rgba(255,255,255, 0.5)
    ),
    url("https://images.pexels.com/photos/41959/food-grains-bread-wheat-cereals-41959.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
}

.loginTitle{
    font-size: 90px;
    color: dimgrey;
}

.loginForm{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: dimgrey;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton{
    position: relative;
    margin-top: 20px;
    background-color: #889331;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    transition: all 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.loginButton:disabled{
    opacity: 70%;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: #dfa35c;
    border: none;
    width: 180px;
    height: 35px;
    color: white;
    border-radius: 10px;
    display: inline-block;
    transition: all 0.5s;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

.buttonForm:after{
    content: '»';
    opacity: 60%;
    top: 14px;
    right: -20px;
    transition: 0.5s;
}

.buttonForm:hover{
    padding-right: 24px;
    padding-left:8px;
}

.aa:hover:after {
    opacity: 60%;
    right: 70px;
}
.b:hover:after {
    opacity: 60%;
    right: 50px;
}

.labelContainer{
    width: fit-content;
    margin: 16px;
    background-color: red;
    opacity: 60%;
    border-radius: 20px;
}

.errorLabel{
    color: white;

}
